*,
::before,
::after {
	transition:
		background-color 0.2s,
		color 0.2s;
}

body {
	background-color: var(--background-1);
	color: var(--foreground-1);
	font-family: var(--font-serif);
	font-size: var(--text-base);
	line-height: 1.5;
}

:not([data-page="home"]) :is(h1, h2, h3, h4, .header, footer) {
	font-family: var(--font-sans);
}

h1,
h2 {
	letter-spacing: 0.009em;
}
h1 {
	font-size: var(--text-fluid-xl-2xl);
}
h2 {
	font-size: var(--text-fluid-lg-xl);
}
h3 {
	font-size: var(--text-fluid-base-lg);
}
h4 {
	font-size: var(--text-base);
}

pre {
	font-family: var(--font-mono);
}

a {
	color: var(--foreground-1);
	cursor: default;
	text-underline-offset: 0.125em;
}

a[data-page-current]::after {
	content: " ↜";
}

:is(header, nav) a {
	text-decoration: none;
}

main a {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a[href^="http"]:visited {
	color: oklch(from var(--foreground-3) l c h);
}

main {
	max-width: 60ch;
}

button {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	border-width: 0;
	line-height: 1;
	padding: 0;
}

button[data-theme-switch] svg {
	width: calc(var(--step) * 5);
	height: calc(var(--step) * 5);
}

@media print {
	.no-print {
		display: none;
	}
	.only-print {
		display: block;
	}
}

.header,
footer {
	font-stretch: condensed;
}
