@font-face {
	font-family: "Merriweather";
	src: url("../fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Merriweather";
	src: url("../fonts/Merriweather-Italic-VariableFont_opsz,wdth,wght.ttf")
		format("truetype-variations");
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-style: italic;
	font-display: swap;
}
