/* spacing */
.m-0 {
	margin: calc(var(--step) * 0);
}
.mb-1 {
	margin-block-end: calc(var(--step) * 1);
}
.mb-8 {
	margin-block-end: calc(var(--step) * 8);
}
.mb-10 {
	margin-block-end: calc(var(--step) * 10);
}
.mb-16 {
	margin-block-end: calc(var(--step) * 16);
}
.px-1 {
	padding-inline: calc(var(--step) * 1);
}
.pb-1 {
	padding-block-end: calc(var(--step) * 1);
}
.pb-20 {
	padding-block-end: calc(var(--step) * 20);
}
.gap-1 {
	gap: calc(var(--step) * 1);
}
.gap-2 {
	gap: calc(var(--step) * 2);
}
.gap-4 {
	gap: calc(var(--step) * 4);
}
.gap-6 {
	gap: calc(var(--step) * 6);
}
.gap-x-6 {
	row-gap: calc(var(--step) * 6);
}
.gap-8 {
	gap: calc(var(--step) * 8);
}
.gap-10 {
	gap: calc(var(--step) * 10);
}
.gap-y-10 {
	column-gap: calc(var(--step) * 10);
}

/* translate */
.translate-x-px {
	translate: 1px 0;
}
.-translate-x-px {
	translate: -1px 0;
}
.translate-y-px {
	translate: 0 1px;
}
.-translate-y-px {
	translate: 0 -1px;
}
.translate-y-0\.5 {
	translate: 0 calc(var(--step) * 0.5);
}

/* text alignment */
.text-center {
	text-align: center;
}
.text-balance {
	text-wrap: balance;
}
.text-pretty {
	text-wrap: pretty;
}

/* fonts */
.font-sans {
	font-family: var(--font-sans);
}
.font-serif {
	font-family: var(--font-serif);
}
.font-mono {
	font-family: var(--font-mono);
}
.font-medium {
	font-weight: var(--font-medium);
}
.font-semibold {
	font-weight: var(--font-semibold);
}
.font-stretch-normal {
	font-stretch: normal;
}
.text-sm {
	font-size: var(--text-sm);
	line-height: calc(1.25 / 0.875);
}
.text-base {
	font-size: var(--text-base);
	line-height: 1.5;
}
.text-2xl {
	font-size: var(--text-2xl);
	line-height: calc(2 / 1.5);
}

/* flex */
.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-col {
	flex-direction: column;
}
.items-baseline {
	align-items: baseline;
}
.justify-between {
	justify-content: space-between;
}

/* grid */
.col-span-2 {
	grid-column: span 2 / span 2;
}
