{% extends "_includes/base.html" %}
{% set title = "Home" %}
{% block content %}
	<div style="--flow-space: 3em">
		<div class="flow">
			<h2
				class="mb-8 px-1 pb-1 font-serif text-base font-medium"
				style="color: var(--foreground-3); border-bottom: solid 1px currentColor">
				<a
					href="/writing"
					style="
    text-decoration: none;
    color: inherit;
"
					>Writing</a
				>
			</h2>
			{% include "_includes/writing.html" %}
		</div>
	</div>
	<div style="--flow-space: 3em">
		<div class="flow">
			<h2
				class="mb-8 px-1 pb-1 font-serif text-base font-medium"
				style="color: var(--foreground-3); border-bottom: solid 1px currentColor">
				Meta
			</h2>
			<p>
				My own content on this this website is copyright free. No strings
				attached.
			</p>
			<p>This site is ad-free and doesn’t use trackers.</p>
			<p>
				Pages are written in plain html and markdown. Website is built with
				<a href="/writing/this-website/#diy_solution">custom ssg</a> script,
				and served with <a href="https://caddyserver.com">Caddy</a>.
			</p>
		</div>
	</div>
	<div style="--flow-space: 3em">
		<h2
			class="mb-8 px-1 pb-1 font-serif text-base font-medium"
			style="color: var(--foreground-3); border-bottom: solid 1px currentColor">
			Get in touch
		</h2>
		<a
			href="mailto:slava.zakharov@mailbox.org"
			style="
			align-items: center;
			border-bottom: solid 2px;
			font-size: var(--text-fluid-base-2xl);
			gap: calc(var(--step) * 6);
			text-decoration: none;
			word-break: break-all;
		"
			>slava.zakharov<span style="white-space: nowrap;">@mailbox.org</span>
			<span
				style="
				display: inline-block;
				padding-inline-start: calc(var(--step) * 6);
				translate: 0 calc(var(--step) * 0.25);
			"
				>→</span
			></a
		>
	</div>
{% endblock %}
