<!doctype html>
<html lang="en">
	<head>
		{% include "_includes/meta.html" %}
	</head>
	<body>
		{% include "_includes/banner.html" %}
		<div
			class="flex flex-wrap gap-10 pb-20"
			style="
				padding-inline: var(--page-space-x);
				padding-block-start: var(--page-space-y);
			">
			<div class="header no-print" style="align-self: flex-start">
				<nav>
					<h2
						class="mb-1 flex gap-4 text-base font-semibold font-stretch-normal">
						<a href="/">Slava Zakharov</a>
						<button
							data-theme-switch
							class="translate-y-px"
							type="button"
							aria-hidden="true">
							<svg aria-hidden="true" viewBox="0 0 32 32">
								<title aria-hidden="true">Switch Color Theme</title>
								<use href="/assets/icons.svg#sun"></use>
								<use href="/assets/icons.svg#moon"></use>
							</svg>
						</button>
					</h2>
					<ul role="list">
						{% include "_includes/nav.html" %}
					</ul>
				</nav>
			</div>

			<main
				class="flow text-pretty"
				style="flex: 1; min-width: 65%; container-type: inline-size">
				{% block content %}
					{{ content | safe }}
				{% endblock %}
			</main>
		</div>

		<div style="container-type: inline-size">
			<footer class="reverse no-print">
				<div
					class="col-span-2 flex flex-col justify-between"
					data-items-end
					data-col-start-5>
					<h3>Email</h3>
					<p><a href="mailto:">slava.zakharov@mailbox.org</a></p>
				</div>
				<div style="--justify: flex-end">
					<h3>Links</h3>
					<ul role="list">
						<li>
							<a href="https://bsky.app/profile/beaterpetr.bsky.social"
								>Bluesky</a
							>
						</li>
						<li>
							<a href="https://www.strava.com/athletes/petyapetr">Strava</a>
						</li>
						<li><a href="https://github.com/petyapetr">GitHub</a></li>
					</ul>
				</div>
				<div style="--justify: center">
					<h3>Pages</h3>
					<nav aria-label="Footer links" id="all-pages">
						<ul role="list">
							<li>
								<a
									href="/"
									{% if title === "Home" %}data-page-current{% endif %}
									>Home</a
								>
							</li>
							{% include "_includes/nav.html" %}
						</ul>
					</nav>
				</div>
				<div class="col-span-2" data-col-start-1>
					<h3>Credits</h3>
					<p class="text-balance">
						Source code is licensed under the
						<a
							href="https://github.com/petyapetr/slaaava.com/blob/main/LICENSE"
							style="white-space: pre"
							>0BSD license</a
						>
						<br />
						All content on this website is distributed under
						<a
							href="https://github.com/petyapetr/slaaava.com/blob/main/CC.md"
							style="white-space: pre"
							>CC0 license</a
						>
					</p>
				</div>
			</footer>
		</div>
		<script src="/assets/main.js"></script>
	</body>
</html>
