<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<title>{% if title %}{{ title }} —{% endif %}slaaava</title>
<link
	rel="preload"
	href="/assets/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf"
	as="font"
	type="font/ttf"
	crossorigin />
<link rel="stylesheet" href="/assets/style.css" />
<link
	rel="stylesheet"
	href="/assets/css/light.css"
	media="(prefers-color-scheme: light)" />
<link
	rel="stylesheet"
	href="/assets/css/dark.css"
	media="(prefers-color-scheme: dark)" />
